<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>CardForest - seeds</title>

		<link rel="stylesheet" href="styles/normalize.css">		
		<link rel="stylesheet" href="styles/docco.css">
		<!-- link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style>
			a.thumbnail {
				width: 60px;
				display: inline-block;
				white-space: nowrap;
			}
		<style>
		.page pre {
			background: url('/images/gray.png') #fff;
  			background-size: 322px;
  		}
  		</style>
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script>$(function(){$('a').each(function(){
				$(this).popover({container: 'body', html: true, title: 'Ace of Clubs', trigger: 'hover',
		 content: 
		 '<div style="min-width:200px; min-height:121px"><img src="seeds/decks/<%- deckFolder %>/images/card-'+$(this).data('id')+'.png" width=100 style="float: left;margin-right: 14px; border:1px solid black"></img><dl style="margin-bottom: 0;"><dt>Rank</dt><dd>Ace</dd><dt style="margin-top: 9px;">Suit</dt><dd>Clubs</dd><dt style="margin-top: 9px;">Color</dt><dd>black</dd></dl></div>',
			placement: 'top'});
		});})</script>
		</style> -->
	</head>
	<body>
		<div class="container" style="position:relative;">
		<a href="https://github.com/CardForest/seeds/tree/master/decks/<%- deckFolder %>"><img style="position: absolute; top: 28px; right: 28px; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
			<div class='page' style="box-shadow: 0 0 10px rgba(0,0,0,0.1);">
				<div class="header">
					<h1>C<span style="font-size:80%">ard</span>F<span style="font-size:80%">orest seeds</span> <br><br>The <%= title %> deck</h1>
				</div>
				<%= readme %>

				<h2>The Cards</h2>
				<div>
				<% cardIds.forEach(function (id){ %>
					<img style="border:1px solid rgb(183, 183, 183);" width="50" src="seeds/decks/<%- deckFolder %>/images/card-<%- id %>.png" alt='<%- id %>' title="<%- id %>"></img>
				<% }) %>
				</div>

				<h2>Formal Specification <a href="https://github.com/CardForest/seeds/edit/master/decks/<%- deckFolder %>/spec.coffee" class="edit-link">edit on github</a></h2> 
				<%= spec %>
				<div class="fleur">h</div>
				<br><hr>
				<div style="margin-top:21.5px;text-align:center">Some rights reserved - read the <a href="//github.com/CardForest/seeds#license--">license</a></div>
			</div>
		</div>
	</body>
</html>